.jumbotron{
    background-image: url("friends.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color:coral
}
h2{
    color: blueviolet;
}
img{
    width: 100px;
}